VITE_SUPABASE_URL=https://shulrddzgwjdthamlyto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNodWxyZGR6Z3dqZHRoYW1seXRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NDY4MTgsImV4cCI6MjA5NzUyMjgxOH0.vmJMFnUQO6S0d4bW4zQGL_2YZWBPDTKZt21TbAp8cag
